.header-flat{
  border: 1px solid white;
}

.header-flat-details{
  //display: flex;
  align-items: center;
  padding: 30px;
  padding-left: 0;
}

.header-flat form{
  margin: 20px 0;
  margin-right: 0;
  background: #F4F4F4;
  padding:15px;
}

